body {
	margin: 0;
	padding: 0;
	font-family: sans-serif;
	background: #141e30;
}
h1{
    color: white;
    text-align: center;
    text-shadow: 4px 4px 4px #000;
}
.login-box {
	width: 90%;
	max-width: 400px;
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	color: white;
}

.login-box h1 {
	float: left;
	font-size: 40px;
	border-bottom: 6px solid #4caf50;
	margin-bottom: 50px;
    margin-left: 20px;
	padding: 13px 0;
}

button {
	background-color: white;
	color: black;
	padding: 10px 20px;
	border: none;
	border-radius: 5px;
	cursor: pointer;
	margin-bottom: 25px;
	margin-left: 25px;
}
.invisible-box {
	border: none;
}
@media only screen and (max-width: 600px) {
	.login-box {
		width: 100%;
		max-width: none;
	}
}